.song-result-card {
  display: flex;
  width: 100%;
  border-bottom: solid 2px gray;
  color: black;
}
.song-result-info-holder {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
