.lyrics-con {
  white-space: pre-line;
  display: flex;
  justify-content: center;
  height: 80vh;
  /* position: absolute; */
  color: white;
  background-color: rgba(0, 0, 0, 0.685);
  width: 100%;
}

.close-lyr {
  right: 0;
  position: absolute;
  cursor: pointer;
}

.text-wrap {
  background-color: #7d8136;
  width: 80%;
  overflow: auto;
}
.container {
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
