.lyrics-con {
  white-space: pre-line;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #c28b87;
  border-radius: 30px;
  /* background-color: rgb(0 0 0 / 83%); */
  width: 100%;
  max-width: 500px;
  height: 663px;
  margin-bottom: 0.3rem;
  position: relative;
}

.close-lyr {
  right: 5%;
  position: absolute;
  cursor: pointer;
}

.text-wrap {
  text-align: center;
  width: 100%;
  overflow: auto;
}
.container {
  width: 100%;
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
