.search-page-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-page-con {
  width: 500px;
  width: 100%;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.253);
}
.music-icon {
  position: absolute;
  top: 0;
}

@media screen and (min-width: 550px) {
  .search-page-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-page-con {
    border-radius: 30px;
    width: 500px;
    border: 5px solid pink;
    height: 90vh;
  }
}
