.search-page-con {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.253);
}
.music-icon {
  position: absolute;
  top: 0;
}
