body {
  background-color: black;
}
/*+++++++button effect++++++++++++++*/

.glow-on-hover {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  color: silver;
  background-color: rgb(17, 17, 17);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 25%;
  box-shadow: 1px 2px 8px 2px white;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    rgb(204, 201, 201),
    #85807d,
    #969491,
    #c0bdb1,
    #b9b7ab
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/************/

.songCardHeaderMain {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 0;
  border: 2px solid white;
}

.song-card {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.song-image-container {
  width: 80%;
  margin: auto;
}

.image-song {
  width: 100%;
}

.song-title {
  color: white;
  font-weight: lighter;
}

.song-artist {
  color: white;
  font-weight: lighter;
}

.material-icons {
  color: white;
}

.song-details {
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 4%;
}
.audio-control {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.audio {
  width: 80vw;
  height: 5vh;
}

.allSong-button-container {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10%;
  margin-top: 10%;
}

.allSong-button {
  padding: 5px;
  border-radius: 10px;
}
@media screen and (min-width: 700px) {
  .songCardHeaderMain {
    display: flex;
    flex-direction: column;
    margin-top: 0;

    border: 2px solid white;
  }
  .song-card {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
  .image-song {
    height: 60vh;
  }
  .song-details {
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .allSong-button-container {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10%;
    margin-top: 5%;
  }
  .audio-control {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
