body {
  background-color: black;
}
/*+++++++button effect++++++++++++++*/

/* .glow-on-hover {
  margin: 0.5rem;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  color: silver;
  background-color: rgb(17, 17, 17);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 25%;
  box-shadow: 1px 2px 8px 2px white;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    rgb(204, 201, 201),
    #85807d,
    #969491,
    #c0bdb1,
    #b9b7ab
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}*/
/************/

.song-image-container img {
  width: 100%;
  height: auto;
}
.songCardHeaderMain {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.song-card-header {
  max-width: 500px;
  height: 653px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.iconArrow {
  align-self: flex-start;
}

.song-title {
  color: white;
  font-weight: lighter;
}

.song-artist {
  color: white;
  font-weight: lighter;
}

.material-icons {
  color: white;
}

.song-details {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}
.glow-on-hover {
  color: white;
  background-color: transparent;
  border: 2px solid #c28b87;
  border-radius: 25px;
  padding: 7px 20px;

  margin-left: 10px;
}

.audio-control {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.audio {
  width: 80vw;
  border-radius: 25px;
  border: 2px solid #c28b87;
}

audio::-webkit-media-controls-panel {
  background-color: rgb(0, 0, 0);
}
audio::-webkit-media-controls-play-button {
  background-color: #c28b87;
  border-radius: 50%;
}
audio::-webkit-media-controls-mute-button {
  background-color: #c28b87;
  border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display {
  color: white;
}
audio::-webkit-media-controls-time-remaining-display {
  color: white;
}
audio::-webkit-media-controls-timeline {
  background-color: #c28b87;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
audio::-webkit-media-controls-volume-slider {
  background-color: #b1d4e0;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}
.allSong-button {
  padding: 5px;
  border-radius: 10px;
}
@media screen and (min-width: 700px) {
  .songCardHeaderMain {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .audio-control {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
